* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 90px;
    width: 100%;
}

.mlogo, .mmenu {
    display: none;
}


/**hero section**/

.hero-container {
    width: 100%;
}

.hero {
   display: flex;
   align-items: stretch;
   gap: 50px;
   padding: 25px 90px;
}


.line {
   display: flex;
    width:48px;
    height:2px;
    background-color:#333;
    color: #333;

}

.hero-content h3 {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.hero-content h1 {
    color: #333;
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}

.hero-content h2 {
    color: #333;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.hero-content p {
    color: #333;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}


.hero-image img {
    width: 450px;
    height: 540px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 25px 90px;
}

.socials {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    
}



/**Section Two**/

.section2 {
    padding: 60px 150px;
}

.section2-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.section2-content img {
    width: 100%;
}


/**Section three**/

.section3 {
     padding: 60px 150px;
}

.section3-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
}

.section3-content h1 {
    color: #333;
    font-size: 54px;
    font-weight: 500;
}

.section3-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.row3 {
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 20px 40px;
}

.row3 h2 {
    color: #FFF;
    font-size: 46px;
    font-weight: 400;
    margin-top:20px;
}

.row3 p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.read-more {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
   

}

.read-more p {
   margin-top: 0;
}


/**Section-four**/

.section4 {
    padding: 60px 150px;
    width: 100%;
}

.section4-content {
   display: flex;
   flex-direction: column;
   gap: 60px;
   justify-content: center;
   align-items: center;
}

.section4-content h1 {
    color: #333;
    font-size: 54px;
    font-weight: 500;
}

.section4-content p {
    color: #333;
   font-size: 18px;
   font-weight: 400;
}

.section4-images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: auto;
}


.section4-images img {
    width: 100%;
}


/**Section 5**/

.section5 {
     padding: 60px 150px;
}

.section5-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.section5-content h1 {
    color: #333;
    font-size: 44px;
    font-weight: 500;
}


.content5{
    display: flex;
    gap: 50px;
}



.section5-image img {
    width: 300px;
}

.section5-text {
    position: relative;
    display: flex;
    flex-direction: column;
   gap: 60px;

}

.testimonial img {
    width: 50px;
}

.testimonial p {
    color: #333;
    font-size: 30px;
    font-weight: 400;
}
.testimonial-name {
  margin-top: 10px;
}

.testimonial-name h1{
    color: #333;
    font-size: 28px;
    font-weight: 500;
}

.quote2 {
    position: absolute;
    right: 0;
}


/**Section six**/

.section6 {
    padding: 60px 150px;
    width: 100%;
    position: relative;
    background-color: #333;
}

.hello {
    position: absolute;
    opacity: 0.7;
    
}

.hello img {
    width: 80%;
    
}

.section6-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.button{
    z-index: 2;
    display: flex;
    padding: 20px 40px;
    align-items: flex-start;
    background-color: #FFF;
    border: none;
    border-radius: 10px;
}

.text6 {
    z-index: 2;
}

.text6 p {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
   margin-bottom: 30px;
   text-align: center;
}

.text6 h2 {
    color: #FFF;
    font-size: 54px;
    font-weight: 400;
}

.social-links  {
    display: flex;
    z-index: 5;
    width: 70%;
}

.social-links img {
    width: 100%;
}

/**Section seven**/
.section7 {
    padding: 60px 200px;
    position: relative;
}

.project {
    position: absolute;
    top: 20px;
}

.project img {
    width: 80%;
    opacity: 0.6;
}


.content7 {
    display: flex;
    justify-content: space-between;
}

.text7 {
    z-index: 2;
}

.text7 h1 {
    color: #333;
    font-size: 64px;
    font-weight: 400;
}

.text7 p {
    color: #333;
    font-size: 24px;
    font-weight: 400;
}


/**Section 8**/
.section8 {
    padding: 60px 150px;
}

.section8-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.section8-content h1 {
    color: #333;
    font-size: 54px;
    font-weight: 500;
}

.content8 {
    display: flex;
    gap: 30px;
}


.card8 img {
    width: 100%;
}

.card8-text {
    background: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top:-10px;
}

.card-t {
    display: flex;
    justify-content: space-between;
}

.card-t p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.card-p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}


.read {
    display: flex;
    justify-content: space-between;

}

.read p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.read img {
    width: 15%;
}


/**Section nine**/

.section9 {
    padding: 60px 150px;
}

.section9-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}


.section9-content h1 {
    color: #333;
    font-size: 54px;
    font-weight: 500;
}


.section9-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content9 {
    display: flex;
    gap: 70px;
}

.content9-p {
    color: #333;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
}


.section9-text h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
     font-size: 20px;
     font-weight: 300;
}

.section9-form {
    padding: 80px 60px;
    background-color:#333;
}

.form {
    display: flex;
    flex-direction: column;
    background-color:#333;
    gap: 40px;
}

input,textarea {
    border: none;
    border-bottom: 1px solid #FFF;
    background:none;
}

.send {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: end;
    background: #FFF;
    border: none;
    border-radius: 10px;
}

/**Footer section**/

.footer {
    padding:10px 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.copyright{
    color: #333;
    font-size: 14px;
    font-weight: 400;
}




/**Responsive Website**/

@media screen and (max-width:1200px) {
    .hero {
        padding: 25px 30px;
    }

    .icons {
        padding: 25px 30px;
    }

    .section2 {
        padding: 100px 30px;
    }

    .section3 {
        padding: 100px 30px;
    }

    .section4 {
        padding: 100px 30px;
    }

    .section5 {
        padding: 100px 30px;
    }

    .section6 {
        padding: 80px 30px;
    }

    .section7 {
        padding: 80px 30px;
    }

    .section8 {
        padding: 80px 30px;
    }
    .section9 {
        padding: 80px 30px;
    }
    .footer {
        padding: 10px 30px;
    }
   
}


@media screen and (max-width:900px) {

    .nav {
        padding: 25px 30px;
    }

    .hero {
        gap: 30px;
        padding:20px;
    }

    .hero-content h3 {
        font-size: 20px;
    }
    
    .hero-content h1 {
        font-size: 40px;
    }
    
    .hero-content h2 {
        font-size: 25px;
    }
    
    .hero-content p {
        font-size: 16px;
    }

    .hero-image img {
        width: 350px;
        height: 440px;
    }

    .section2 {
        padding: 50px 20px;
    }

    .section3 {
        padding: 50px 20px;
    }

    .section3-content h1 {
        color: #333;
        font-size: 44px;
        font-weight: 500;
    }
    
    .section3-row {
        gap: 15px;
    }
    
    .row3 {
        padding: 15px 30px;
    }
    
    .row3 h2 {
        font-size: 36px;
    }
    
    .row3 p {
        font-size: 16px;
    }

    .section4 {
        padding: 50px 20px;
    }

    .section4-content h1 {
        color: #333;
        font-size: 44px;
        font-weight: 500;
    }
 
   .section5 {
    padding: 50px 20px;
   }


   .section5-content {
    gap: 45px;
}

.section5-content h1 {
    font-size: 34px;
}


.content5{
    gap: 35px;
}


.section5-text {
   gap: 45px;

}

.testimonial img {
    width: 40px;
}

.testimonial p {
    font-size: 24px; 
}


.testimonial-name h1{
    font-size: 20px;

}



.section6 {
    padding: 50px 20px;
}


.section6-content {
    gap: 45px;
}



.text6 {
    z-index: 2;
}

.text6 p {
    font-size: 27px;
}

.text6 h2 {
    font-size: 44px;
}

.section7 {
    padding: 50px 20px;
}



.text7 h1 {
    font-size: 45px;
}

.text7 p {
    font-size: 20px;
}


.section8 {
    padding: 50px 20px;
}

.section8-content {
    gap: 40px;
}

.section8-content h1 {
    font-size: 40px;
}

.content8 {
    gap: 22px;
}


.card8-text {
    padding: 15px;
    gap: 45px;
    margin-top:-10px;
}


.card-t p {
    font-weight: 300;
}

.card-p {
    font-size: 20px;
}


.read p {
    font-size: 14px;
}

.read img {
    width: 12%;
}


.section9 {
    padding: 50px 20px;
}

.section9-content {
    gap: 45px;
}


.section9-content h1 {
    font-size: 40px;
}



.content9 {
    gap: 50px;
}

.content9-p {
    font-size: 30px;
    line-height: 42px;
}


.section9-text h2 {
    gap: 10px;
     font-size: 16px;
}

.section9-form {
    padding: 70px 50px;  
}

.form {
    gap: 30px;
}


.send {
    
    padding: 12px 30px;
    gap: 15px;
}

}


@media screen and (max-width:768px) {
    .hero {
       display: flex;
       flex-direction: column;
    }
    
    
    .hero-content h3 {
        font-size: 34px;
    }
    
    .hero-content h1 {
        font-size: 74px;
    }
    
    .hero-content h2 {
        font-size: 40px;
    }
    
    .hero-content p {
        font-size: 24px;
    }
   
    
    .hero-image img {
        width: 100%;
        height: auto;
      
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .scroll {
        display: none;
    }
    .space {
        display: none;
    }
    
   
   .section3-content {
       gap: 30px;
       width: 100%;
       align-items: stretch;
   }

   .section3-content h1 {
    text-align: center;
   }
   
   
   .section3-row {
       display: flex;
       flex-direction: column;
       gap: 20px;
       justify-content: stretch;
       
   }
   
   .row3 {
       gap: 30px;
   }
   
   .row3 h2 {
    font-size: 46px;
   }
 
   
   .row3 p {
       font-size: 18px;
   }
   
   .read-more {
       display: flex;
      justify-content: flex-start;
       gap: 20px;
   }

 


.section4-content h1 {
    font-size: 54px;
}

.section4-content p {
   font-size: 18px;
}

.section4-images {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 20px;
}


.section5-content {
    gap: 30px;
}

.section5-content h1 {
    font-size: 44px;
}


.content5{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section5-image {
    align-self: center;
}


.testimonial img {
    width: 60px;
}

.slider {
    align-self: center;
}


.hello img {
  width: 100%;
  height: auto;
}



.section7 {
    padding: 50px 10px;
}


.project img {
  width: 100%;
}

.section7-content {
    width: 100%;
}


.text7 h1 {
    font-size: 30px;
}

.text7 p {
    font-size: 18px; 
}


.section8-content {
    gap: 30px;
    width: 100%;
    align-items: stretch;
}

.section8-content h1 {
    font-size: 54px;
}

.content8 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.card8-text {
    gap: 60px;
}


.card-t p {
    font-size: 14px;
}

.card-p {
    font-size: 24px;
}


.read {
    display: flex;
    justify-content: flex-start;
    gap: 20px;

}

.read p {
    font-size: 18px;
}

.read img {
    width: 10%;
}

.section9-content {
    gap: 40px;
}


.section9-content h1 {
    font-size: 54px;
}


.section9-text {
    gap: 70px;
}

.content9 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content9-p {
    font-size: 40px;
}



.section9-text h2 {
     font-size: 20px;
}

.section9-form {
    padding: 80px 60px;
}

.form {
    gap: 60px;
}

.send {
    padding: 16px 40px;

}




    
}




@media screen and (max-width:500px) {
    

    .nav {
        padding: 25px 10px;
    }
    
    .content7 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    
    

}


@media screen and (max-width:420px) {
   .search, .menu ,.logo  {
    display: none;
   }

   .mlogo, .mmenu {
    display: block;
}




.hero {
   padding:25px 10px;
}



.hero-content h1 {
    font-size: 32px;
}

.hero-content h2 {
    font-size: 18px;
}

.hero-content p {
    font-size: 16px;
}

.icons {
    padding: 25px 10px;
}



.section5 {
    padding: 50px 10px;
}


.section5-content h1 {
   font-size: 35px;
}

.section5-image img {
   width: 100%;
}


.testimonial img {
   width: 40px;
}

.testimonial p {
   font-size: 18px;
}

.testimonial-name h1{
   font-size: 20px;
}



.section6 {
    padding: 50px 10px;
}

.project {
    display: none;
}

.hello {
    display: none;
}

.text6 h2 {
    font-size: 35px;
}

.social-links {
    width: 90%;
}



.section8 {
    padding: 50px 10px;
}


.section8-content h1 {
    font-size: 35px;
}


.card-p {
    font-size: 18px;
}



.read p {
    font-size: 16px;
}



.section9 {
    padding: 50px 10px;
}



.section9-content h1 {
    font-size: 35px;
}



.content9 {
    gap: 50px;
}

.content9-p {
    font-size: 20px;
}



.section9-text h2 {
     font-size: 18px;
}

.section9-form {
    padding: 40px 20px;
}

.form {
    gap: 30px;
}


.send {
    padding: 10px 25px;
    
}

/**Footer section**/

.footer {
    padding:10px;
}

.footer-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
}


}